{% extends "layout.html" %}

{% block content %}
<div class="container bg-white p-3 rounded-3">
    <h1>About</h1>
    <p><b>CookBook</b> is a portfolio project by <a href="#">Wesley Giles</a> and <a href="https://ryanwhipple.github.io">Ryan Whipple</a>  It combines recipe book features with a social media feed.  Users can:</p>
    <ul>
        <li>Post their own recipes</li>
        <li>Post the Results from cooking recipes, both their own and those of other users</li>
        <li>Follow other users and see their new Recipes and Results in the Social Feed</li>
    </ul>
    <p>CookBook is built in Python using Flask with a MySQL database.</p>
</div>
{% endblock content %}