{% extends "layout.html" %}

{% block script %}

    <script>
        $( function() {
        $( "#tabs" ).tabs();
        } );
    </script>

{% endblock script%}

{% block content %}
    <div class="container rounded-3 py-3">
        <div class="row">
            <div class="col-2">
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </div>
            <div class="col-10">
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
                <a class="btn btn-primary btn-sm m-1" href="{{ url_for('users.account_edit', user_id=current_user.id) }}">Update My Account</a>
            </div>
        </div>
    </div>

    <div id="tabs" class="container p-0">
        <ul>
            <li><a href="#fragment-1">Following</a></li>
            <li><a href="#fragment-2">Followers</a></li>
            <li><a href="#fragment-3">Recipes</a></li>
            <li><a href="#fragment-4">Resuts</a></li>
        </ul>
    

        <!-- Following Grid -->
        <div id="fragment-1" class="container">
            <div class="album">
                <div class="container p-3">
                    <h1>Following</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        
                        {% for followee in followees.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ url_for('static', filename='profile_pics/' + followee.followee.image_file) }}" class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-8">
                                        <br>
                                        <a href="{{ url_for('users.account', user_id=followee.followee_id) }}"><h5 class="card-title">{{ followee.followee.first_name }} {{ followee.followee.last_name }}</h5></a>
                                        <a class="btn btn-danger btn-sm m-1" href="{{ url_for('social_feed.unfollow', followee_id=followee.followee_id) }}">Unfollow this user</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Follower Grid -->
        <div id="fragment-2" class="container">
            <div class="album">
                <div class="container p-3">
                    <h1>Followers</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        
                        {% for follower in followers.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ url_for('static', filename='profile_pics/' + follower.follower.image_file) }}" class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-8">
                                        <br>
                                        <a href="{{ url_for('users.account', user_id=follower.follower_id) }}"><h5 class="card-title">{{ follower.follower.first_name }} {{ follower.follower.last_name }}</h5></a>
                                        <a class="btn btn-danger btn-sm m-1" href="{{ url_for('social_feed.block', follower_id=follower.follower_id) }}">Block this user (but not really)</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Recipes Album -->
        <div id="fragment-3" class="container rounded-3">
            <div class="album">
                <div class="container p-3">
                    <h1>Recipes</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    
                        {% for recipe in recipes.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ recipe.name }}</h5>
                                    <p class="card-text">{{ recipe.description }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <a class="btn btn-sm btn-outline-secondary" href="{{url_for('recipes.recipe', recipe_id=recipe.id) }}">View</a>
                                        {% if recipe.user == current_user %}
                                            <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Edit</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>

        <!-- Results Album -->
        <div id="fragment-4" class="container rounded-3">
            <div class="album">
                <div class="container p-3">
                    <h1>Results</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                    
                        {% for result in results.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <img src="{{ url_for('static', filename='result_pics/' + result.image_file) }}" class="card-img-top">
                                <div class="card-body">
                                    <h5 class="card-title">{{ result.name }}</h5>
                                    <p class="card-text">{{ result.snippet }}</p>
                                </div>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <!-- <a class="btn btn-sm btn-outline-secondary" href="{#url_for('results.result', result_id=result.id) #}">View</a> -->
                                        {% if result.user == current_user %}
                                            <!-- <a class="btn btn-sm btn-outline-secondary" href="{# url_for('results.update_result', result_id=result.id) #}">Edit</a> -->
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}