{% extends "layout.html" %}

{% block script %}

    <script>
        $( function() {
        $( "#tabs" ).tabs();
        } );
    </script>

{% endblock script%}

{% block content %}
    <div class="container rounded-3 py-3">
        <div class="row">
            <div class="col-2">
                <img class="rounded-circle account-img" src="{{ image_file }}">
            </div>
            <div class="col-10">
                <h2>{{ current_user.username }}</h2>
                <p>{{ current_user.email }}</p>
                <a class="btn btn-primary btn-sm m-1" href="{{ url_for('users.account_edit', user_id=current_user.id) }}">Update My Account</a>
            </div>
        </div>
    </div>

    <div id="tabs" class="container p-0">
        <ul>
            <li><a href="#fragment-1">Following</a></li>
            <li><a href="#fragment-2">Followers</a></li>
        </ul>
    

        <!-- Following Grid -->
        <div id="fragment-1" class="container">
            <div class="album">
                <div class="container p-3">
                    <h1>Following</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        
                        {% for followee in followees.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ url_for('static', filename='profile_pics/' + followee.followee.image_file) }}" class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-8">
                                        <br>
                                        <a href="{{ url_for('users.user_recipes', username=followee.followee.username) }}"><h5 class="card-title">{{ followee.followee.first_name }} {{ followee.followee.last_name }}</h5></a>
                                        <a class="btn btn-danger btn-sm m-1" href="{{ url_for('social_feed.unfollow', followee_id=followee.followee_id) }}">Unfollow this user</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>

        <!-- Follower Grid -->
        <div id="fragment-2" class="container">
            <div class="album">
                <div class="container p-3">
                    <h1>Followers</h1>
                    <hr>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        {% for follower in followers.items %}
                        <div class="col">
                            <div class="card shadow-sm">
                                <div class="row">
                                    <div class="col-4">
                                        <img src="{{ url_for('static', filename='profile_pics/' + follower.follower.image_file) }}" class="img-fluid rounded-start">
                                    </div>
                                    <div class="col-8">
                                        <br>
                                        <a href="{{ url_for('users.user_recipes', username=follower.follower.username) }}"><h5 class="card-title">{{ follower.follower.first_name }} {{ follower.follower.last_name }}</h5></a>
                                        <a class="btn btn-danger btn-sm m-1" href="{{ url_for('social_feed.block', follower_id=follower.follower_id) }}">Block this user</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}