{% extends "layout.html" %}

{% block content %}

    
<div class="container bg-secondary rounded-3 px-3 py-4">
    <div class="album bg-secondary">
        <div class="container">
    
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
                {% for recipe in recipes.items %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{{url_for('recipes.recipe', recipe_id=recipe.id) }}">View</a>
                                {% if recipe.user == current_user %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
        </div>
    </div>
</div>

{% endblock content %}







