{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <!-- Title and Short Description -->
        <div class="row mb-3">
            <div class="col border rounded-3 p-2">
                <h1>{{ recipe.title }}</h1>
                <p>{{ recipe.short_description }}</p>
            </div>
        </div>
        <div class="row mb-3">
            <!-- Recipe Image -->
            <div class="col col-8 border rounded-3  p-2">
                <img src="{{url_for('static', filename='profile_pics/' + recipe.image_file) }}" class="w-100">
            </div>
            <!-- Contributed By -->
            <div class="col col-4 border rounded-3  p-2">
                <h5>Contributed by:</h5>
                <div class="row">
                    <div class="col-2">
                        <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + recipe.author.image_file) }}">
                    </div>
                    <div class="col-10">
                        <a class="mr-2" href="{{url_for('users.user_recipes', username=recipe.author.username) }}">{{ recipe.author.username }}</a>
                        <br>
                        <small class="text-muted">{{ recipe.date_posted.strftime('%Y-%m-%d') }}</small>
                    </div>
                </div>
                <div class="row">
                    <!-- Update and Delete -->
                    {% if recipe.author == current_user %}
                        <div>
                            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <!-- Tips -->
            <div class="col border rounded-3  p-2">
                <h2>Tips</h2>
                <hr>
                <p>Things to think about when cooking this recipe, like:</p>
                <p>-Cuts of meat to consider</p>
                <p>-Recommendations for pre-made alternatives to certain ingredients</p>
            </div>
        </div>
        <div class="row mb-3">
            <!-- List of Ingredients -->
            <div class="col col-3 border rounded-3  p-2">
                <h2>List of Ingredients</h2>
                <hr>
                <h3>Tacos:</h3>
                <ul>
                    <li>1 lb ground beef</li>
                    <li>Taco seasoning</li>
                </ul>
                <h3>Toppings:</h3>
                <ul>
                    <li>Cheese</li>
                    <li>Lettuce</li>
                    <li>Tomato</li>
                </ul>
            </div>
            <!-- Recipe Steps -->
            <div class="col col-9 border rounded-3  p-2">
                <h2>Recipe Steps</h2>
                <hr>
                {{ recipe.content }}
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body">
                    ...
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}