{% extends "layout.html" %}

{% block content %}

    <div class="container bg-secondary rounded-3 py-3">
        <!-- First Row: Description and Image -->
        <div class="row mb-3 gx-3 row-eq-height">
            <div class="col-6">
                <div class="border rounded-3 p-3 bg-light h-100">
                    <h1>{{ recipe.title }}</h1>
                    <p class="mb-1"><i>{{ recipe.short_description }}</i></p>
                    <hr>
                    <h5>Contributed by:</h5>
                    <div class="row">
                        <div class="col-2">
                            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + recipe.user.image_file) }}">
                        </div>
                        <div class="col-10">
                            <a class="mr-2" href="{{url_for('users.user_recipes', username=recipe.user.username) }}">{{ recipe.user.username }}</a>
                            <br>
                            <small class="text-muted">{{ recipe.date_posted.strftime('%Y-%m-%d') }}</small>
                        </div>
                    </div>
                    <!-- Update and Delete -->
                    {% if recipe.user == current_user %}
                        <div>
                            <a class="btn btn-secondary btn-sm m-1" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Update</a>
                            <button type="button" class="btn btn-danger btn-sm m-1" data-bs-toggle="modal" data-bs-target="#deleteModal">Delete</button>
                        </div>
                    {% endif %}
                </div>
            </div>
            <!-- Recipe Image -->
            <div class="col-6">
                <div class="border rounded-3 p-3 bg-light">
                    <img src="{{url_for('static', filename='profile_pics/' + recipe.image_file) }}" class="w-100">
                </div>
            </div>
        </div>
        <!-- Second Row: Ingredients and Directions -->
        <div class="row mb-3 gx-3 row-eq-height">
            <!-- List of Ingredients -->
            <div class="col col-3">
                <div class="border rounded-3 p-3 bg-light h-100">
                    <h2>Ingredients</h2>
                    <hr>
                    {{ recipe.ingredients | newline_to_br }}
                </div>
            </div>
            <!-- Directions -->
            <div class="col col-9">
                <div class="border rounded-3 p-3 bg-light h-100">
                    <h2>Directions</h2>
                    <hr>
                    {{ recipe.directions | newline_to_br }}
                </div>
            </div>
        </div>
        <!-- Third Row: Notes -->
        <div class="row mb-3 gx-3">
            <div class="col">
                <div class="border rounded-3 p-3 bg-light">
                    <h2>Notes</h2>
                    <hr>
                    {{ recipe.notes | newline_to_br }}
                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Delete Recipe?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!-- <div class="modal-body">
                    ...
                </div> -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <form action="{{ url_for('recipes.delete_recipe', recipe_id=recipe.id) }}" method="POST">
                        <input class="btn btn-danger" type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}