{% extends "layout.html" %}

{% block script %}
<script src="{{url_for('static',filename='js/ajax/food_form.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}

<div class="container bg-secondary rounded-3 py-3">
    <form method="POST" action="" enctype="multipart/form-data" id="food_form">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <!-- First Row: Description and Image -->
            <div class="row mb-3 gx-3 row-eq-height">
                <!-- First Column: Metadata -->
                <div class="col-6">
                    <div class="border rounded-3 p-3 bg-light h-100">
                        <!-- Recipe Name -->
                        <div class="form-group mb-2">
                            <!-- {# form.name.label(class="form-control-label") #} -->
                            {% if form.name.errors %}
                                {{ form.name(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.name.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.name(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <!-- Recipe Description -->
                        <div class="form-group">
                            <!-- {# form.description.label(class="form-control-label") #} -->
                            {% if form.description.errors %}
                                {{ form.description(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.description(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                        <hr>
                        <!-- Prep Time -->
                        <div class="row mb-2">
                            {{ form.prep_time.label(class="form-control-label col-2 col-form-label") }}
                            {% if form.prep_time.errors %}
                                <div class="col-4">
                                    {{ form.prep_time(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.prep_time.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    minutes
                                </div>
                            {% else %}
                                <div class="col-4">
                                    {{ form.prep_time(class="form-control form-control-lg") }}
                                </div>
                                <div class="col-6">
                                    minutes
                                </div>
                            {% endif %}
                        </div>
                        <!-- Cook Time -->
                        <div class="row mb-2">
                            {{ form.cook_time.label(class="form-control-label col-2 col-form-label") }}
                            {% if form.cook_time.errors %}
                                <div class="col-4">
                                    {{ form.cook_time(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.cook_time.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-6">
                                    minutes
                                </div>
                            {% else %}
                                <div class="col-4">
                                    {{ form.cook_time(class="form-control form-control-lg") }}
                                </div>
                                <div class="col-6">
                                    minutes
                                </div>
                            {% endif %}
                        </div>
                        <hr>
                        <!-- Contributed By -->
                        <h5>Contributed by:</h5>
                        <div class="row">
                            <div class="col-2">
                                {% if recipe %}
                                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + recipe.user.image_file) }}">
                                {% else %}
                                    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + current_user.image_file) }}">
                                {% endif %}
                            </div>
                            <div class="col-10">
                                {% if recipe %}
                                    <a class="mr-2" href="{{ url_for('users.user_recipes', username=recipe.user.username) }}">{{ recipe.user.first_name }} {{ recipe.user.last_name }}</a>
                                {% else %}
                                    <a class="mr-2" href="{{ url_for('users.user_recipes', username=current_user.username) }}">{{ current_user.first_name }} {{ current_user.last_name }}</a>
                                {% endif %}
                                <br>
                                {% if recipe %}
                                    <small class="text-muted">{{ recipe.created_at.strftime('%Y-%m-%d') }}</small>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Recipe Image -->
                <div class="col-6">
                    <div class="border rounded-3 p-3 bg-light h-100">
                        {% if recipe %}
                            <img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" class="w-100" id="image">
                        {% else %}
                            <img src="{{ url_for('static', filename='recipe_pics/default_food.png') }}" class="w-100" id="image">
                        {% endif %}

                        <!-- Recipe Image -->
                        <div class="form-group mt-3">
                            <!-- {# form.picture.label(class="form-control-label") #}<br> -->
                            {{ form.picture(class="form-control-file")}}
                            {% if form.picture.errors %}
                                {% for error in form.picture.errors %}
                                    <span class="text-danger">{{ error }}</span><br>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Second Row: Ingredients and Instructions -->
            <div class="row mb-3 gx-3 row-eq-height">
                <!-- Ingredients -->
                <div class="col col-3">
                    <div class="border rounded-3 p-3 bg-light h-100">
                        <h2>Ingredients</h2>
                        <hr>
                        <!-- Recipe Ingredients -->
                        <div class="form-group">
                            <!-- {# form.ingredients.label(class="form-control-label") #} -->
                            {% if form.ingredients.errors %}
                                {{ form.ingredients(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.ingredients.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.ingredients(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Instructions -->
                <div class="col col-9">
                    <div class="border rounded-3 p-3 bg-light h-100">
                        <h2>Instructions</h2>
                        <hr>
                        <div class="form-group">
                            <!-- {# form.instructions.label(class="form-control-label") #} -->
                            {% if form.instructions.errors %}
                                {{ form.instructions(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.instructions.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.instructions(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- Third Row: Notes -->
            <div class="row mb-3 gx-3">
                <div class="col">
                    <div class="border rounded-3 p-3 bg-light">
                        <h2>Notes</h2>
                        <hr>
                        <!-- Recipe Notes -->
                        <div class="form-group">
                            <!-- {# form.notes.label(class="form-control-label") #} -->
                            {% if form.notes.errors %}
                                {{ form.notes(class="form-control form-control-lg is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.notes.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                    {{ form.notes(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </fieldset>
        <!-- Fourth Row: Submit Button -->
        <div class="row mb-3 gx-3">
            <div class="col">
                <div class="border rounded-3 p-3 bg-light d-flex justify-content-center">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock content %}