{% extends "layout.html" %}
{% block script %}
<script src="{{url_for('static',filename='js/ajax/search.js')}}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<div class="container">
    <input type="text" name="q" id="q" class="form-control form-control-lg my-1" placeholder="Search Recipes">
</div>
<div class="container rounded-3" " id="results_div">
    <div class="album">
        <div class="container pt-2">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                <!-- Recipe Album -->
                {% for recipe in recipes %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ url_for('static', filename='recipe_pics/' + recipe.image_file) }}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">{{ recipe.name }}</h5>
                            <p class="card-text">{{ recipe.description }}</p>
                        </div>
                        <div class="card-footer">
                            <div class="btn-group">
                                <a class="btn btn-sm btn-outline-secondary" href="{{url_for('recipes.recipe', recipe_id=recipe.id) }}">View</a>
                                {% if recipe.user == current_user %}
                                    <a class="btn btn-sm btn-outline-secondary" href="{{ url_for('recipes.update_recipe', recipe_id=recipe.id) }}">Edit</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <!-- Pagination Links -->
                    {{ pagination.links }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
